.container {
	width: 620px;
	margin: 0 auto;
}

div .panel.panel-primary {
	margin: 50px 100px 100px 0;
	height: 300px;
	width: 600px;
}

.form-horizontal .form-group {
	margin-top: 10px;
	padding: 5px 15px;
}

.checkbox {
	position: relative;
	float: right;
}

.btn {
	
	margin-left: 295px;
}
.statScore{
	float: right;
	margin-left: 175px;
	font-size: 1.2em;
}


.legend ul {
	text-align: center;
	list-style-type: none;

}

.legend li {
	display: inline;
	padding: 10px;
}


img {
	display: block;
    margin: 0 auto;
    margin-top: 65px;
	width: 150px;
	height: 150px;
}

h2 {
	text-align: center;
}

h1 {
	color: #bf3e11;
}

table tr td {
	color: #bf3e11;
}