.container {
	width: 900px;
}

div .panel.panel-primary {
	margin: 50px 100px 100px 0;
	height: 300px;
	width: 600px;
}

.form-horizontal .form-group {
	margin-top: 10px;
	padding: 5px 15px;
}

.checkbox {
	position: relative;
	float: right;
}

.btn {
	
	margin-left: 295px;
}
.statScore{
	float: right;
	margin-right: 175px;
	font-size: 1.2em;
}
li{
	list-style-type: none;
}

