.container {
	width: 900px;
	margin: 0 auto;
}

.container1{
margin: 0 auto;

}

div .panel.panel-primary {
	margin: 50px 100px 100px 0;
	height: 300px;
	width: 600px;
}

.form-horizontal .form-group {
	margin-top: 10px;
	padding: 5px 15px;
}

.checkbox {
	position: relative;
	float: right;
}

.btn {
	
	margin-left: 65px;
}
.statScore{
	float: right;
	margin-left: 175px;
	font-size: 1.2em;
}


.legend ul {
	text-align: center;
	list-style-type: none;

}

.legend li {
	display: inline;
	padding: 5px;
}
.statistics li{
	display: inline;
	margin-bottom: 5px;
	padding: 5px;
}

.filter-icons .fa:hover {
	font-size:3em;
}

.filter-icons i {
	color: #bf3e11;
}


img {
	display: block;
    margin: 0 auto;
    margin-top: 65px;
	width: 150px;
	height: 150px;
}

h2 {
	text-align: center;
}

h1 {
	color: #bf3e11;
}

table tr td {
	color: #bf3e11;
}

.report h1 {
	/*text-align: center*/
}

.newsFeed {
	float: left;
	margin: 0px auto 0px 0px;
}



.dataNum {
	color: black;
}
.alert {
    display: none;
}

#first-chart{
	float: left;

}

.container ul{
	list-style-type: none
}

button.btnDate {
	margin-left: 65px;
}

